==
{% for image in user.images().orderByDesc('id').get() %}
	
	<div class="col-xl-15 col-lg-20 col-md-30 col-60">
		<div class="photo-item">
			<img class="img-fluid border-10" src="{{ image.image.getThumb(270, 170, {mode: 'crop'}) }}" alt="">
		</div>

		<div class="photo-info mb-3 pt-1">
			{% if image.title %}
				<h6 class="h6 mb-0">{{image.title}}</h6>
			{% endif %}
			<div class="text-success">{{ user.name ~ ' ' ~ user.surname }}</div>
			<div class="controls d-flex justify-content-between small">
				<a href="#" class="text-muted"><i class="far fa-heart"></i> <span class="ml-1">{{ image.likes.count() }}</span></a>	
				
				<a href="#" class="text-muted"><i class="far fa-comment-dots"></i> <span class="ml-1">{{ image.comments.count() }}</span></a>
				
				{#<a href="#" class="text-muted"><i class="fas fa-eye"></i> <span class="ml-1">175</span></a>#}
				
				<span class="text-muted">{{ image.created_at | date('d M. H:i') }}</span>
			</div>
		</div>
	</div>

{% endfor %}