==
{% set item0 = tree %}
	{% set item1_1 = tree.children[0] %}
	{% set item1_2 = tree.children[1] %}
	{% set item1_3 = tree.children[2] %}
	{% set item1_4 = tree.children[3] %}



{% partial 'tree/vip-item' item=item0 up=true %}


<div class="col-lg-60 col-lg-60 mt-lg-5 mt-md-4 mt-sm-2 mt-1">
	<div class="childblocks row px-3">
		
		{% partial 'tree/vip-item' down=true item=item1_1 %}
	
		{% partial 'tree/vip-item' down=true item=item1_2 %}
	
		{% partial 'tree/vip-item' down=true item=item1_3 %}
		
		{% partial 'tree/vip-item' down=true item=item1_4 %}
					
	</div>
</div>